@charset "UTF-8";

*{
    padding: 0;
    margin: 0;

}

body{
    background: url('../img/bg.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
    background-color: #fefafb;
    padding: 25px;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.575);
    color: #262463;
    text-transform: uppercase;
}

main{
    background-color: #262463;
    width: 600px;
    margin: auto;
    padding: 75px;
    margin-top: 100px;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 5px 5px 16px #605beea4;
}
#conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
#lbl1, #lbl2{
    margin-right: -15px;
}
input#txtn1{
    margin-right: 6px;
}
input#txtn2{
    margin-right: 1px;
}
#botao{
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: #262463;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#botao:hover{
    cursor: pointer;
}
#res{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 24px;
}

@media (max-width: 750px){
    main{
        width: 400px;

    }
    #conteudo{
        display: flex;
        flex-direction: column;
    }
    #txtn1, #txtn2{
        margin: 10px;
    }
}

@media (max-width: 620px){
    main{
        width: 300px;

    }
    #conteudo{
        display: flex;
        flex-direction: column;
    }
    #txtn1, #txtn2{
        margin: 10px;
    }
}
